.login{
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    position: relative;

&__img-boy{
    width: 720px;
    height: 1024px;
  }
  &__form{
    width: 343px;
    height: 410px;
    display: flex;
    flex-direction: column;
  }
  &__form-p{
    font-size: 32px;
    text-align: center;
    color:#212121;
  }
  &__form-input{
    width: 343px;
    height: 52px;
    border-radius:12px;
    border: none;
    background:#F8F8F8;
    outline: none;
    padding-left: 13px;
  }
  &__form-input::placeholder{
    font-size: 16px;
    color:#767676;
  }
  &__form-password{
   margin-top: 15px;
   position: relative;
  }
  &__form-eye{
    width: 21px !important;
    height: 24px !important;
    position: absolute;
    top: 20%;
    right: 5%;
    cursor: pointer;
    border: none;
    background: transparent;
  }
  &__form-btn{
    width: 343px;
    height: 52px;
    border-radius:12px;
    background: #292929;
    color: #F8F8F8;
    font-size: 16px;
    cursor: pointer;
    border: none;
    margin-top: 60px;
  }
  &__form-text{
    text-align: center;
    font-size: 16px;
    margin-top: 30px;
    cursor: pointer;
    color: #212121;
  }
  &__form-link{
    text-decoration: none;
  }
  &__form-error{
    width: 343px;
    height: 50px;
    border-radius:12px ;
    border: 1px solid red;
    position: absolute;
    top: 10%;
  }
  &__form-error-text{
    color: red;
    margin: 15px;
  }
}